cat << EOF > .gitignore
# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Visual Studio
.vs/

# VS Code
.vscode/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# OS-specific
.DS_Store
Thumbs.db

# Tomcat
logs/
temp/
work/
EOF
