# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Build Folders (bin, obj, out)
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio folders
.vs/
.vscode/

# Backup & temp files
*~
*.swp
*.tmp

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#**/project.lock.json

# Visual Studio Code settings
.vscode/

# Database files
*.mdf
*.ldf
*.sqlite
*.db
*.db3
*.sdf

# Secret, key, credential files
secrets.json
*.key
*.pfx
*.pem
*.cert
*.env
*.config
appsettings.Development.json
appsettings.Local.json
appsettings.*.json
appsettings.json

# Publish output
publish/
dist/