<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CafeDB"
			 connectionString="Data Source=LAPTOP-0L8RQE0C\SQLEXPRESS;Initial Catalog=Cafeholic; 
			 User ID=loc;Password=123;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
